/**
 * Kodo Kojo - Software factory done right
 * Copyright © 2017 Kodo Kojo (infos@kodokojo.io)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program. If not, see <http://www.gnu.org/licenses/>.
 */

@import '../../../styles/meta';

.breadcrumb {
  display: flex;
  flex: 1 0 auto;
  flex-flow: row wrap;
  align-items: center;
  color: $color-font-4;
  & > span {
    display: flex;
    margin-right: 1em;
    margin-left: 1em;
  }
  a {
    color: $color-font-4;
    font-size: $font-size-normal;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
  Link {
    display: flex;
    justify-content: space-around;
  }
}

.header-version {
  position: absolute;
  top: 48px;
  left: 68px;
  font-size: $font-size-small;
  color: $color-font-3;
}

.header-menu {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

.menu-personal {
  display: flex;
  flex: 1 1 auto;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: flex-end;
  button,
  span {
    font-size: $font-size-xlarge !important;
  }
  span {
    line-height: initial !important;
  }
  button {
    color: $color-font-4;
    width: $font-size-xlarge + .5rem;
    height: $font-size-xlarge + .5rem;
  }
}

.menu-personal__item--smaller {
  span {
    font-size: $font-size-xlarge - .4rem !important;
  }
}

.menu-personal__item--small {
  span {
    font-size: $font-size-xlarge - .2rem !important;
  }
}
